<%= render "navbar" %>

<div class="container mt-3">
  <div class="d-flex justify-content-between">
    <h1>Show All Posts</h1>
    <% if user_signed_in? %>
      <%= link_to "Create Post", new_post_path, class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <div class="col-lg-3 m-2 d-flex align-items-stretch">
            <div class="card p-2 w-100">
              <h4 class="card-title text-center"><%= post.title %></h4>
              <p class="card-text"><%= post.body %></p>
              <% if user_signed_in? %>
                <p><%= "Author: #{@users.find(post.user_id).email}" %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="d-flex justify-content-center">
          <h4>No Post!</h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
