<h1>Show All Posts</h1>

<% if @posts.present? %>
  <% @posts.each do |post| %>
    <div>
      <h4><%= post.title %></h4>
      <p><%= post.body %></p>
      <% if user_signed_in? %>
        <p><%= @users.find(post.user_id).email %></p>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div>
    <h4>No Post!</h4>
  </div>
<% end %>

<%= link_to "Create Post", new_post_path %>
<br>
<% if user_signed_in? %>
  <%= button_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= button_to "Sign In",  user_session_path %>
<% end %>
